// Mesures

$List-Width: 600px;
$Field-Height: 48px;

// Colors

// Components
.button {
  width: 100%;
  height: $Field-Height;
  background-color: var(--button-background);
  border-radius: 5px;
  border: none;
  color: var(--button-color);
  cursor: pointer;
  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
.button_close {
  @extend .button;
  color: var(--text-Color);
  background-color: var(--background);
}
